extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(class="img-fluid" src="img/nosotros.jpg", alt="Imagen de la Torre Eiffel")
            .col-md-7
                h1.mt-3.mt-md-0=pagina
                blockquote  En nuestra agencia de viajes nos dedicamos a crear experiencias inolvidables. Desde destinos exóticos hasta rincones locales, nos esforzamos por brindarle aventuras que trascienden las expectativas.

                p Respaldados por años de experiencia en la industria, nuestro equipo de expertos está comprometido a ofrecerle un servicio de viaje excepcional. Cada itinerario se diseña meticulosamente para garantizar una combinación perfecta de cultura, naturaleza y confort.

                p Nos enorgullecemos de ser catalizadores de momentos memorables. Ya sea que busque relajarse en playas paradisíacas o embarcarse en una odisea cultural, nuestra agencia está preparada para convertir sus sueños de viaje en realidades asombrosas. Permítanos ser su compañero en esta travesía inolvidable.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(class="img-fluid mb-4" src="img/icono_seguridad.svg", alt="Icono de Seguridad")
                    h2.mb-4 Seguridad 
                    p Contamos con rigurosos estándares  y procedimientos de seguridad para garantizar que cada experiencia de viaje sea cómoda y sin preocupaciones.

                .col-md-4 
                    img(class="img-fluid mb-4" src="img/icono_destinos.svg", alt="Icono de Destinos")
                    h2.mb-4 Increibles Destinos 
                    p Nuestros destinos son una ventana al mundo. Cada itinerario se planifica con detalle, asegurando aventuras inigualables y memorables para ti.

                .col-md-4 
                    img(class="img-fluid mb-4" src="img/icono_precios.svg", alt="Icono de Precios")
                    h2.mb-4 Los Mejores Precios 
                    p Descubre el mundo sin romperte el bolsillo. Ofrecemos experiencias inolvidables a precios insuperables. Viajar nunca fue tan accesible y gratificante.
